.palette {
  display: grid;
  grid-template-columns: 100px repeat(14, 50px);
  grid-template-rows: repeat(20, 50px);
  justify-content: center;
  align-items: center;
}

.palette div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palette div:nth-child(15n + 1) {
  justify-content: flex-start;
}

.palette div:nth-child(n + 16) {
  background: var(--color);
}
