@import url('../public/assets/fonts/golos.css');

body .story {
  display: flex;
  font-family: 'GolosTextWebRegular', sans-serif !important;
}

.story {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 26px;
}

.header__logo {
  margin-top: 40px;
}

.header__title {
  font-family: GolosTextWebDemiBold, Arial, sans-serif !important;
  font-size: 72px !important;
  line-height: 80px;
  font-weight: normal;
  letter-spacing: normal;
  font-stretch: normal;
  text-rendering: optimizelegibility;
  padding-top: 24px;
  margin-bottom: 24px !important;
  width: max-content;
}

.header_version {
  font-family: GolosTextWebRegular, Arial, sans-serif !important;
  font-size: 18px !important;
  font-weight: normal;
  letter-spacing: normal;
  font-stretch: normal;
  color: gray;
  line-height: 18px;
  display: flex;
  justify-content: flex-end;
}

.main {
  margin-top: 40px;
  flex-shrink: 0;
  flex-grow: 1;
}

.components-list {
  font-family: GolosTextWebRegular, Arial, sans-serif;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-auto-flow: column;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 300px);
}

.component {
  font-family: GolosTextWebRegular, Arial, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
  line-height: 28px;
}

.component a {
  color: #3d7fff;
  font-family: GolosTextWebRegular, Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  outline: none;
  text-decoration: none;
}

.component a:hover {
  color: #c02331;
}
